{% if forumrow.S_THANKS_FORUM_REPUT_VIEW and forumrow.FORUM_REPUT and not S_IS_BOT %}
<div style="display: block; margin-left: 45px; padding-bottom: 5px;">
	{% if forumrow.S_THANKS_REPUT_GRAPHIC %}
		<span style="display: block; float: left; width: {{ forumrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ forumrow.THANKS_REPUT_HEIGHT }}px; background: url({{ forumrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ forumrow.THANKS_REPUT_HEIGHT }}px; width: {{ forumrow.FORUM_REPUT }}; background: url({{ forumrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;"></span></span>&nbsp;
	{% endif %}
	{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ forumrow.FORUM_REPUT }}
</div>
{% endif %}
