<!-- IF S_THANKS_NOTICE_ON -->	
	<dl>
		<dt><label for="allowthankspm1">{L_ALLOW_THANKS_PM}{L_COLON}</label><br /><span>{L_ALLOW_THANKS_PM_EXPLAIN}</span></dt>
		<dd>
			<label for="allowthankspm1"><input type="radio" name="allowthankspm" id="allowthankspm1" value="1"<!-- IF S_ALLOW_THANKS_PM --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
			<label for="allowthankspm0"><input type="radio" name="allowthankspm" id="allowthankspm0" value="0"<!-- IF not S_ALLOW_THANKS_PM --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
	<dl>
		<dt><label for="allowthanksemail1">{L_ALLOW_THANKS_EMAIL}{L_COLON}</label><br /><span>{L_ALLOW_THANKS_EMAIL_EXPLAIN}</span></dt>
		<dd>
			<label for="allowthanksemail1"><input type="radio" name="allowthanksemail" id="allowthanksemail1" value="1"<!-- IF S_ALLOW_THANKS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_YES}</label> 
			<label for="allowthanksemail0"><input type="radio" name="allowthanksemail" id="allowthanksemail0" value="0"<!-- IF not S_ALLOW_THANKS_EMAIL --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
		</dd>
	</dl>
<!-- ENDIF -->