<!-- IF not postrow.S_POST_ANONYMOUS and postrow.THANKS_COUNTERS_VIEW -->
    <dd class="profile-posts" data-user-give-id="{postrow.POSTER_ID}"><!-- IF postrow.POSTER_GIVE_COUNT --><strong>{L_GIVEN}{L_COLON}</strong> <a href="{postrow.POSTER_GIVE_COUNT_LINK}">{postrow.POSTER_GIVE_COUNT}</a><!-- ENDIF --></dd>
    <dd class="profile-posts" data-user-receive-id="{postrow.POSTER_ID}"><!-- IF postrow.POSTER_RECEIVE_COUNT --><strong>{L_RECEIVED}{L_COLON}</strong> <a href="{postrow.POSTER_RECEIVE_COUNT_LINK}">{postrow.POSTER_RECEIVE_COUNT}</a><!-- ENDIF --></dd>
<!-- ENDIF -->
