<div id='list_thanks{postrow.POST_ID}'>
<!-- IF postrow.THANKS and postrow.THANKS_POSTLIST_VIEW -->
	<div class="notice">
		<!-- IF not postrow.S_POST_ANONYMOUS and not S_IS_BOT and postrow.S_MOD_THANKS -->
		<ul class="post-buttons" style="float: left; position: static;">
			<li>
				<a id='clear_list_thanks{postrow.POST_ID}' href="{postrow.U_CLEAR_LIST_THANKS_POST}" title="{L_CLEAR_LIST_THANKS}" class="button icon-button delete-icon" style="float:left"><span>{L_CLEAR_LIST_THANKS}</span></a>
			</li>
		</ul>
		<!-- ENDIF -->

		<!-- IF not postrow.S_POST_ANONYMOUS and not S_IS_BOT-->
		<dl class="postbody small">
			<dt>{postrow.THANK_TEXT}{postrow.POST_AUTHOR_FULL}{postrow.THANK_TEXT_2}</dt>
			<dd>{postrow.THANKS}</dd>
		</dl>
		<!-- ENDIF -->
	</div>
<!-- ENDIF -->
</div>
<div id='div_post_reput{postrow.POST_ID}'>
<!-- IF postrow.S_THANKS_POST_REPUT_VIEW and postrow.POST_REPUT and not postrow.S_POST_ANONYMOUS and not S_IS_BOT -->
	<div class="notice">
		<dl class="postbody">
			<dt class="small"><strong>{L_REPUT}:</strong>&nbsp;{postrow.POST_REPUT}</dt>
			<dd>
			<!-- IF postrow.S_THANKS_REPUT_GRAPHIC -->
			<div style="width: {postrow.THANKS_REPUT_GRAPHIC_WIDTH}; height: {postrow.THANKS_REPUT_HEIGHT};" class="thanks_reput_image_back"><div style="height: {postrow.THANKS_REPUT_HEIGHT}; width: {postrow.POST_REPUT};" class="thanks_reput_image"></div></div>&nbsp;
			<!-- ENDIF -->
			</dd>
		</dl>
	</div>
<!-- ENDIF -->
</div>
