{% if not postrow.S_POST_ANONYMOUS and postrow.THANKS_COUNTERS_VIEW %}
    <dd class="profile-posts" data-user-give-id="{{ postrow.POSTER_ID }}">{% if postrow.POSTER_GIVE_COUNT %}<strong>{{ lang('GIVEN') ~ lang('COLON')}}</strong> <a href="{{ postrow.POSTER_GIVE_COUNT_LINK }}">{{ postrow.POSTER_GIVE_COUNT }}</a>{% endif %}</dd>
    <dd class="profile-posts" data-user-receive-id="{{ postrow.POSTER_ID }}">{% if postrow.POSTER_RECEIVE_COUNT %}<strong>{{ lang('RECEIVED') ~ lang('COLON')}}</strong> <a href="{{ postrow.POSTER_RECEIVE_COUNT_LINK }}">{{ postrow.POSTER_RECEIVE_COUNT }}</a>{% endif %}</dd>
{% endif %}
