{% if postrow.S_THANKS_POST_REPUT_VIEW and postrow.POST_REPUT and not postrow.S_POST_ANONYMOUS and not S_IS_BOT %}
<div id='div_post_reput{{ postrow.POST_ID }}'>
	<div class="rightside">{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ postrow.POST_REPUT }}</div>
	{% if postrow.S_THANKS_REPUT_GRAPHIC %}
	<div style="display: block; float: left; width: {{ postrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ postrow.THANKS_REPUT_HEIGHT }}px; background: url({{ postrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;">
		<div style="display: block; height: {{ postrow.THANKS_REPUT_HEIGHT }}px; width: {{ postrow.POST_REPUT }}; background: url({{ postrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;"></div>
	</div>&nbsp;
	{% endif %}
</div>
{% endif %}
