{% if postrow.THANKS and postrow.THANKS_POSTLIST_VIEW and not postrow.S_POST_ANONYMOUS %}
	<table width="100%" cellspacing="0">
		<tr valign="middle">
			<td class="gensmall" align="{{ S_CONTENT_FLOW_BEGIN }}">
			<hr />
			{% if postrow.S_MOD_THANKS %}<a href="{{ postrow.U_CLEAR_LIST_THANKS_POST }}">{{ postrow.DELETE_IMG }}</a>&nbsp;{% endif %}{{ postrow.THANK_TEXT }}{{ postrow.POST_AUTHOR_FULL }}{{ postrow.THANK_TEXT_2 }} {{ postrow.THANKS }}</td>
		</tr>
	</table>
{% endif %}
{% if postrow.S_THANKS_POST_REPUT_VIEW and postrow.POST_REPUT and not postrow.S_POST_ANONYMOUS and not S_IS_BOT %}
	<table class="content" align="left">
		<tr class="postbody" align="left">
			<td>
			{% if postrow.S_THANKS_REPUT_GRAPHIC %}
			<div style="float: left; width: {{ postrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ postrow.THANKS_REPUT_HEIGHT }}px; background: URL({{ postrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><div style="height: {{ postrow.THANKS_REPUT_HEIGHT }}px; width: {{ postrow.POST_REPUT }}; background: URL({{ postrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;"></div></div>&nbsp;
			{% endif %}
			<strong>{{ lang('REPUT') }}{{ lang('COLON') }}</strong>&nbsp;{{ postrow.POST_REPUT }}
			</td>
		</tr>
	</table>
{% endif %}
