{% INCLUDE 'overall_header.html' %}
<h2 class="solo">{{ PAGE_TITLE }}</h2>

{% if TOTAL_USERS > 0 %}<p class="mark-read">{{ TOTAL_USERS }}</p>{% endif %}
<div class="forumbg">
<table class="table1" cellspacing="1" width="100%">
	<thead>
	<tr>
		<th class="header">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_G }}">{{ lang('GIVEN') }}</a>{% else %}{{ lang('GIVEN') }}{% endif %}</th>
		<th class="header" colspan="2">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_R }}">{{ lang('RECEIVED') }}</a>{% else %}{{ lang('RECEIVED') }}{% endif %}</th>
	</tr>
	</thead>
	<tbody>
{% for memberrow in loops.memberrow %}
	<tr class="row {% if memberrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
		<td>{% if S_IN_SEARCH_POPUP and not S_SELECT_SINGLE %}<input type="checkbox" name="user" value="{{ memberrow.USERNAME }}" /> {% endif %}<b>{{ memberrow.USERNAME_FULL }}</b>{% if memberrow.RANK_TITLE %} <i>[{{ memberrow.RANK_TITLE }}]</i>{% endif %}</td>
		<td class="posts">{% if memberrow.GIVENS %}<a href="{{ memberrow.U_SEARCH_USER_GIVENS }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.GIVENS }}</a>{% else %}{{ memberrow.GIVENS }}{% endif %} </td>
		<td class="posts">{% if memberrow.RECEIVED %}<a href="{{ memberrow.U_SEARCH_USER_RECEIVED }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.RECEIVED }}</a>{% else %}{{ memberrow.RECEIVED }}{% endif %}</td>
	</tr>
{% else %}
	<tr class="bg1">
		<td colspan="3">{{ lang('NO_MEMBERS') }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% if loops.pagination|length %}
<div class="action-bar">
	<div class="rightside pagination">
	{% INCLUDE 'pagination.html' %}
	</div>
</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
