{% INCLUDE 'overall_header.html' %}
<h2>{{ lang('TOPLIST') }}</h2>

{% if S_THANKS_POST_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_FORUM_RATING %}
<div class="forumbg">
<div class="header"><a href="{{ U_SEARCH_POST }}">{{ lang('RATING_TOP_POST') }}</a></div>
{% for toppostrow in loops.toppostrow %}
	<div class="post {% if toppostrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
		<div class="inner">
			<p class="author"><a href="{{ toppostrow.POST_ID }}"><b>{{ toppostrow.POST_AUTHOR }}</b> &raquo; {{ toppostrow.POST_DATE }}</a>
			<span class="rightside">{{ lang('RECEIVED') }}{{ lang('COLON') }} {{ toppostrow.POST_THANKS }}</span></p>
		</div>
		<div class="content">{{ toppostrow.MESSAGE }}</div>
		<span style="float: right">{{ lang('REPUT') }}{{ lang('COLON') }} {{ toppostrow.POST_REPUT }}</span>
		{% if toppostrow.S_THANKS_REPUT_GRAPHIC %}
		<span style="display: block; width: {{ toppostrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; background: url({{ toppostrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; width: {{ toppostrow.POST_REPUT }}; background: url({{ toppostrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
		{% endif %}
	</div>
{% endfor %}
</div>
{% endif %}
{% if S_THANKS_TOPIC_REPUT_VIEW and not S_FULL_POST_RATING and not S_FULL_FORUM_RATING %}
<div class="forumbg">
<table class="table1" cellspacing="1" width="100%">
	<thead>
	<tr>
		<th class="header"><a href="{{ U_SEARCH_TOPIC }}">{{ lang('RATING_TOP_TOPIC') }}</a></th>
		<th class="header" colspan="2">{{ lang('RECEIVED') }}</th>
	</tr>
	</thead>
	<tbody>
{% for toptopicrow in loops.toptopicrow %}
	<tr class="row {% if toptopicrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
		<td><a href="{{ toptopicrow.U_VIEW_TOPIC }}" class="forumtitle">{{ toptopicrow.TOPIC_TITLE }}</a> &raquo; <b>{{ toptopicrow.TOPIC_AUTHOR }}</b></td>
		<td>{{ toptopicrow.TOPIC_THANKS }}</td>
		<td><span style="display: block;">{{ lang('REPUT') }}{{ lang('COLON') }}{{ toptopicrow.TOPIC_REPUT }}
			{% if toptopicrow.S_THANKS_REPUT_GRAPHIC %}
			<span style="display: block; width: {{ toptopicrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; background: url({{ toptopicrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; width: {{ toptopicrow.TOPIC_REPUT }}; background: url({{ toptopicrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
			{% endif %}
		</span></td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% endif %}
{% if S_THANKS_FORUM_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_POST_RATING %}
<div class="forumbg">
<table class="table1" cellspacing="1" width="100%">
	<thead>
	<tr>
		<th class="header"><a href="{{ U_SEARCH_FORUM }}">{{ lang('RATING_TOP_FORUM') }}</a></th>
		<th class="header" colspan="2">{{ lang('RECEIVED') }}</th>
	</tr>
	</thead>
	<tbody>
{% for topforumrow in loops.topforumrow %}
	<tr class="row {% if topforumrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
		<td><a href="{{ topforumrow.U_VIEW_FORUM }}" class="forumtitle">{{ topforumrow.FORUM_NAME }}</a></td>
		<td>{{ topforumrow.FORUM_THANKS }}</td>
		<td><span style="display: block;">{{ lang('REPUT') }}{{ lang('COLON') }}{{ topforumrow.FORUM_REPUT }}
			{% if topforumrow.S_THANKS_REPUT_GRAPHIC %}
			<span style="display: block; width: {{ topforumrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; background: url({{ topforumrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; width: {{ topforumrow.FORUM_REPUT }}; background: url({{ topforumrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
			{% endif %}
		</span></td>
	</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% endif %}

{% if loops.pagination|length %}
<div class="action-bar">
	<div class="rightside pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
</div>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
