{% INCLUDE 'overall_header.html' %}

<h2 class="solo">{{ PAGE_TITLE }}</h2>

{% if loops.pagination|length or TOTAL_USERS > 0 %}
	<div class="action-bar top">
		<div class="pagination">
			{{ TOTAL_USERS }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				 &bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
{% endif %}

	<div class="forumbg forumbg-table">
		<div class="inner">

			<table class="table1" cellspacing="1">
				<thead>
				<tr>
					<th class="name" data-dfn="{{ lang('RANK') }}{{ lang('COMMA_SEPARATOR') }}{{ lang('USERNAME') }}">{% if S_THANKS %}<span class="rank-img"><a href="{{ U_SORT_RANK }}">{{ lang('RANK') }}</a></span><a href="{{ U_SORT_USERNAME }}">{{ lang('USERNAME') }}</a>{% endif %}</th>
					<th class="posts">{% if S_THANKS %}<a href="{{ U_SORT_POSTS }}">{{ lang('POSTS') }}</a>{% else %}{{ lang('POSTS') }}{% endif %}</th>
					<th class="posts">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_G }}">{{ lang('GIVEN') }}</a>{% else %}{{ lang('GIVEN') }}{% endif %}</th>
					<th class="posts">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_R }}">{{ lang('RECEIVED') }}</a>{% else %}{{ lang('RECEIVED') }}{% endif %}</th>
					<th class="info">{% for custom_fields in loops.custom_fields %}{% if not custom_fields.S_FIRST_ROW %}{{ lang('COMMA_SEPARATOR') }} {% endif %}{{ custom_fields.PROFILE_FIELD_NAME }}{% endfor %}</th>
					<th class="joined">{% if S_THANKS %}<a href="{{ U_SORT_JOINED }}">{{ lang('JOINED') }}</a>{% else %}{{ lang('JOINED') }}{% endif %}</th>
					{% if U_SORT_ACTIVE %}<th class="active">{% if S_THANKS %}<a href="{{ U_SORT_ACTIVE }}">{{ lang('LAST_ACTIVE') }}</a>{% else %}{{ lang('LAST_ACTIVE') }}{% endif %}</th>{% endif %}
				</tr>
				</thead>
				<tbody>
		{% for memberrow in loops.memberrow %}
				<tr class="{% if memberrow.S_ROW_COUNT is even %}bg1{% else %}bg2{% endif %}">
					<td>{% if memberrow.RANK_IMG %}<span class="rank-img">{{ memberrow.RANK_IMG }}</span>{% else %}<span class="rank-img">{{ memberrow.RANK_TITLE }}</span>{% endif %}{{ memberrow.USERNAME_FULL }}</td>
					<td class="posts">{% if memberrow.POSTS %}<a href="{{ memberrow.U_SEARCH_USER }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.POSTS }}</a>{% else %}{{ memberrow.POSTS }}{% endif %}</td>
					<td class="posts">{% if memberrow.GIVENS %}<a href="{{ memberrow.U_SEARCH_USER_GIVENS }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.GIVENS }}</a>{% else %}{{ memberrow.GIVENS }}{% endif %} </td>
					<td class="posts">{% if memberrow.RECEIVED %}<a href="{{ memberrow.U_SEARCH_USER_RECEIVED }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.RECEIVED }}</a>{% else %}{{ memberrow.RECEIVED }}{% endif %}</td>
					<td class="info">{% for custom_fields in memberrow.custom_fields %}<div>{{ custom_fields.PROFILE_FIELD_VALUE }}</div>{% else %}&nbsp;{% endfor %}</td>
					<td>{{ memberrow.JOINED }}</td>
					{% if S_VIEWONLINE %}<td>{{ memberrow.LAST_ACTIVE }}&nbsp;</td>{% endif %}
				</tr>
		{% else %}
				<tr class="bg1">
					<td colspan="{% if S_VIEWONLINE %}7{% else %}6{% endif %}">{{ lang('NO_MEMBERS') }}</td>
				</tr>
		{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% if loops.pagination|length or TOTAL_USERS > 0 %}
	<div class="action-bar bottom">
		<div class="pagination">
			{{ TOTAL_USERS }}
			{% if loops.pagination|length %}
				{% INCLUDE 'pagination.html' %}
			{% else %}
				 &bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
{% endif %}

{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
