{% INCLUDE 'overall_header.html' %}

<h2 class="solo">{{ lang('TOPLIST') }}</h2>

{% if loops.pagination|length %}
<div class="action-bar top">
	<div class="pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
</div>
{% endif %}

{% if S_THANKS_POST_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_FORUM_RATING %}
<h3 class="solo"><a href="{{ U_SEARCH_POST }}" class="forumtitle">{{ lang('RATING_TOP_POST') }}</a></h3>
{% for toppostrow in loops.toppostrow %}
	{% if toppostrow.S_FIRST_ROW %}
	<div class="forumbg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt><div class="list-inner">{{ lang('RATING_POST') }}</div></dt>
						<dd class="posts">{{ lang('RECEIVED') }}</dd>
						<dd class="views">{{ lang('AUTHOR') }}</dd>
						<dd class="lastpost"><span>{{ lang('REPUT') }}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
	{% endif %}
			<li class="row{% if toppostrow.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl>
					<dt>
						<div class="list-inner">
							<a class="unread" href="{{ toppostrow.POST_ID }}" title="{{ toppostrow.POST_SUBJECT }}">
								<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">{{ toppostrow.POST_DATE }}&nbsp;{{ toppostrow.POST_SUBJECT }}</span>
							{{ toppostrow.POST_DATE }}&nbsp;{{ toppostrow.POST_SUBJECT }}</a><br />{{ toppostrow.MESSAGE }}
							<div class="responsive-show" style="display: none;">
								{{ lang('AUTHOR') }}{{ lang('COLON') }}&nbsp;{{ toppostrow.POST_AUTHOR }} 
								<br />{{ lang('RECEIVED') }}{{ lang('COLON') }}&nbsp;{{ toppostrow.POST_THANKS }}
								<br />{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toppostrow.POST_REPUT }}
							</div>
						</div>
					</dt>
					<dd class="posts">{{ toppostrow.POST_THANKS }} <dfn>{{ lang('RECEIVED') }}</dfn></dd>
					<dd class="views">{{ toppostrow.POST_AUTHOR }} <dfn>{{ lang('AUTHOR') }}</dfn></dd>
					<dd class="lastpost">
						<span><dfn>{{ lang('REPUT') }} </dfn>{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toppostrow.POST_REPUT }}
							{% if toppostrow.S_THANKS_REPUT_GRAPHIC %}
								<span style="display: block; width: {{ toppostrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; background: url({{ toppostrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; width: {{ toppostrow.POST_REPUT }}; background: url({{ toppostrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
							{% endif %}
						</span>
					</dd>
				</dl>
			</li>
	{% if toppostrow.S_LAST_ROW %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endif %}

{% if S_THANKS_TOPIC_REPUT_VIEW and not S_FULL_POST_RATING and not S_FULL_FORUM_RATING %}
<h3 class="solo"><a href="{{ U_SEARCH_TOPIC }}" class="forumtitle">{{ lang('RATING_TOP_TOPIC') }}</a></h3>
{% for toptopicrow in loops.toptopicrow %}
	{% if toptopicrow.S_FIRST_ROW %}
	<div class="forumbg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt><div class="list-inner">{{ lang('RATING_TOPIC') }}</div></dt>
						<dd class="posts">{{ lang('RECEIVED') }}</dd>
						<dd class="views">{{ lang('AUTHOR') }}</dd>
						<dd class="lastpost"><span>{{ lang('REPUT') }}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
	{% endif %}
			<li class="row{% if toptopicrow.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="{% if PHPBB_VERSION == '3.1' %}icon{% else %}row-item{% endif %} {{ toptopicrow.TOPIC_IMG_STYLE }}">
					<dt title="{{ toptopicrow.TOPIC_FOLDER_IMG_ALT }}">
						<div class="list-inner">
							<a href="{{ toptopicrow.U_VIEW_TOPIC }}" class="topictitle">{{ toptopicrow.TOPIC_TITLE }}</a>
							<div class="responsive-show" style="display: none;">
								{{ lang('AUTHOR') }}{{ lang('COLON') }}&nbsp;{{ toptopicrow.TOPIC_AUTHOR }} 
								<br />{{ lang('RECEIVED') }}{{ lang('COLON') }}&nbsp;{{ toptopicrow.TOPIC_THANKS }}
								<br />{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toptopicrow.TOPIC_REPUT }}
							</div>
						</div>
					</dt>
					<dd class="posts">{{ toptopicrow.TOPIC_THANKS }} <dfn>{{ lang('RECEIVED') }}</dfn></dd>
					<dd class="views">{{ toptopicrow.TOPIC_AUTHOR }} <dfn>{{ lang('AUTHOR') }}</dfn></dd>
					<dd class="lastpost">
						<span><dfn>{{ lang('REPUT') }} </dfn>{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toptopicrow.TOPIC_REPUT }}
							{% if toptopicrow.S_THANKS_REPUT_GRAPHIC %}
							<span style="display: block; width: {{ toptopicrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; background: url({{ toptopicrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; width: {{ toptopicrow.TOPIC_REPUT }}; background: url({{ toptopicrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
							{% endif %}
						</span>
					</dd>
				</dl>
			</li>
	{% if toptopicrow.S_LAST_ROW %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endif %}

{% if S_THANKS_FORUM_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_POST_RATING %}
<h3 class="solo"><a href="{{ U_SEARCH_FORUM }}" class="forumtitle">{{ lang('RATING_TOP_FORUM') }}</a></h3>
{% for topforumrow in loops.topforumrow %}
	{% if topforumrow.S_FIRST_ROW %}
	<div class="forumbg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt><div class="list-inner">{{ lang('RATING_FORUM') }}</div></dt>
						<dd class="posts">{{ lang('RECEIVED') }}</dd>
						<dd class="lastpost"><span>{{ lang('REPUT') }}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist topics">
	{% endif %}
			<li class="row{% if topforumrow.S_ROW_COUNT is even %} bg1{% else %} bg2{% endif %}">
				<dl class="{% if PHPBB_VERSION == '3.1' %}icon{% else %}row-item{% endif %} {{ topforumrow.FORUM_IMG_STYLE }}">
					<dt title="{{ topforumrow.FORUM_FOLDER_IMG_ALT }}">
						<div class="list-inner">
							<a href="{{ topforumrow.U_VIEW_FORUM }}" class="topictitle">{{ topforumrow.FORUM_NAME }}</a>
							<div class="responsive-show" style="display: none;">
								{{ lang('RECEIVED') }}{{ lang('COLON') }}&nbsp;{{ topforumrow.FORUM_THANKS }}
								<br />{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ topforumrow.FORUM_REPUT }}
							</div>
						</div>
					</dt>
					<dd class="posts">{{ topforumrow.FORUM_THANKS }} <dfn>{{ lang('RECEIVED') }}</dfn></dd>
					<dd class="lastpost">
						<span><dfn>{{ lang('REPUT') }} </dfn>{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ topforumrow.FORUM_REPUT }}
							{% if topforumrow.S_THANKS_REPUT_GRAPHIC %}
							<span style="display: block; width: {{ topforumrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; background: url({{ topforumrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; width: {{ topforumrow.FORUM_REPUT }}; background: url({{ topforumrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
							{% endif %}
						</span>
					</dd>
				</dl>
			</li>
	{% if topforumrow.S_LAST_ROW %}
			</ul>
		</div>
	</div>
	{% endif %}
{% endfor %}
{% endif %}

{% if loops.pagination|length %}
<div class="action-bar bottom">
	<div class="pagination">
		{% INCLUDE 'pagination.html' %}
	</div>
</div>
{% endif %}

{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
