{% if S_THANKS_LIST %}
	<br clear="all" />

	<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<td class="cat" colspan="2"><h4>{{ lang('TOP_THANKS_LIST') }}</h4></td>
	</tr>
	<tr>
		<td class="row1" align="center" valign="middle"><img src="{{ T_THEME_PATH }}/images/whosonline.gif" alt="{{ lang('TOP_THANKS_LIST') }}" /></td>
		<td class="row1" width="100%"><p class="genmed">
			{% set thankslist = [] %}
			{% for user in toplist %}
				{% set thankslist = thankslist|merge([user.USERNAME ~ ' (' ~ user.THANKS_COUNT ~ ')']) %}
			{% endfor %}

			{{ thankslist|join(', ') }}
		</p></td>
	</tr>
	</table>
{% endif %}