{% if THANKS_PROFILELIST_VIEW and (POSTER_GIVE_COUNT or POSTER_RECEIVE_COUNT) %}
<table class="tablebg" width="100%" cellspacing="1">
	<tr>
		<th colspan="2" nowrap="nowrap">{{ lang('GRATITUDES') }}</th>
	</tr>
	<tr>
		<td class="row1" align="left" valign="top" nowrap="nowrap">
		{% if POSTER_GIVE_COUNT %}
			{% if S_MOD_THANKS %}<a href="{{ U_CLEAR_LIST_THANKS_GIVE }}">{{ DELETE_IMG }}</a>&nbsp;{% endif %}
			<span class="gen">{{ lang('GIVEN') }}{{ lang('COLON') }} <b>{{ POSTER_GIVE_COUNT }}</b></span>
			<br />
			<a href="#" onclick="phpbb.toggleDisplay('show_thanks'); return false;">{{ lang('THANKS_LIST') }}</a>
			<div id="show_thanks" style="display: none;">{{ THANKS }}</div>
		{% endif %}
		</td>
		<td class="row1" align="left" valign="top" nowrap="nowrap">
		{% if POSTER_RECEIVE_COUNT %}
			{% if S_MOD_THANKS %}<a href="{{ U_CLEAR_LIST_THANKS_RECEIVE }}">{{ DELETE_IMG }}</a>&nbsp;{% endif %}
			<span class="gen">{{ lang('RECEIVED') }}{{ lang('COLON') }} <b>{{ POSTER_RECEIVE_COUNT }}</b></span>
			<br />
			<a href="#" onclick="phpbb.toggleDisplay('show_thanked'); return false;">{{ lang('THANKS_LIST') }}</a>
			<div id="show_thanked" style="display: none;">{{ THANKED }}</div>
		{% endif %}
		</td>
	</tr>
</table>
{% endif %}
