	{% INCLUDE 'overall_header.html' %}

<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<th nowrap="nowrap">#</th>
	<th nowrap="nowrap" width="25%" align="{{ S_CONTENT_FLOW_BEGIN }}">{% if S_THANKS %}<a href="{{ U_SORT_USERNAME }}">{{ lang('USERNAME') }}</a>{% else %}{{ lang('USERNAME') }}{% endif %}</th>
	<th nowrap="nowrap" width="15%">{% if S_THANKS %}<a href="{{ U_SORT_JOINED }}">{{ lang('JOINED') }}</a>{% else %}{{ lang('JOINED') }}{% endif %}</th>
	<th nowrap="nowrap" width="10%">{% if S_THANKS %}<a href="{{ U_SORT_POSTS }}">{{ lang('POSTS') }}</a>{% else %}{{ lang('POSTS') }}{% endif %}</th>
	<th nowrap="nowrap" width="15%">{{ lang('RANK') }}</th>
	<th nowrap="nowrap" width="11%">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_G }}">{{ lang('GIVEN') }}</a>{% else %}{{ lang('GIVEN') }}{% endif %}</th>
	<th nowrap="nowrap" width="11%">{% if S_THANKS %}<a href="{{ U_SORT_THANKS_R }}">{{ lang('RECEIVED') }}</a>{% else %}{{ lang('RECEIVED') }}{% endif %}</th>
	<th nowrap="nowrap" width="11%">{{ lang('WEBSITE') }}</th>
</tr>
{% for memberrow in loops.memberrow %}

	{% if memberrow.S_ROW_COUNT is even %}<tr class="row2">{% else %}	<tr class="row1">{% endif %}

		<td class="gen" align="center">&nbsp;{{ memberrow.ROW_NUMBER }}&nbsp;</td>
		<td class="genmed" align="{{ S_CONTENT_FLOW_BEGIN }}">{{ memberrow.USERNAME_FULL }}{% if S_SELECT_SINGLE %} [&nbsp;<a href="#" onclick="insert_single('{{ memberrow.A_USERNAME }}'); return false;">{{ lang('SELECT') }}</a>&nbsp;]{% endif %}</td>
		<td class="genmed" align="center" nowrap="nowrap">&nbsp;{{ memberrow.JOINED }}&nbsp;</td>
		<td class="gen" align="center">{{ memberrow.POSTS }}</td>
		<td class="gen" align="center">{% if memberrow.RANK_IMG %}{{ memberrow.RANK_IMG }}{% else %}{{ memberrow.RANK_TITLE }}{% endif %}</td>
		<td class="gen" align="center">&nbsp;{% if memberrow.GIVENS %}<a href="{{ memberrow.U_SEARCH_USER_GIVENS }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.GIVENS }}</a>{% else %}{{ memberrow.GIVENS }}{% endif %}&nbsp;</td>
		<td class="gen" align="center">&nbsp;{% if memberrow.RECEIVED %}<a href="{{ memberrow.U_SEARCH_USER_RECEIVED }}" title="{{ lang('SEARCH_USER_POSTS') }}">{{ memberrow.RECEIVED }}</a>{% else %}{{ memberrow.RECEIVED }}{% endif %}&nbsp;</td>
		<td class="gen" align="center">&nbsp;{% if memberrow.U_WWW %}<a href="{{ memberrow.U_WWW }}">{{ memberrow.U_WWW }}</a>{% endif %}&nbsp;</td>
	</tr>
{% else %}
	<tr>
		<td class="row1" colspan="{% if S_IN_SEARCH_POPUP %}9{% else %}8{% endif %}" align="center">
			<span class="gen">{{ lang('NO_MEMBERS') }}</span>
		</td>
	</tr>
{% endfor %}
<tr>
	<td class="cat" colspan="8" align="center"></td>
</tr>
</table>
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="pagination">{{ PAGE_NUMBER }} [ {{ TOTAL_USERS }} ]</td>
	<td align="{{ S_CONTENT_FLOW_END }}"><span class="pagination">{% INCLUDE 'pagination.html' %}</span></td>
</tr>
</table>



{% if S_IN_SEARCH_POPUP %}
	{% INCLUDE 'simple_footer.html' %}	
{% else %}
	<br clear="all" />
	
	{% INCLUDE 'breadcrumbs.html' %}
	
	<br clear="all" />
	
	<div align="{{ S_CONTENT_FLOW_END }}">{% INCLUDE 'jumpbox.html' %}</div>	
	{% INCLUDE 'overall_footer.html' %}
{% endif %}