<!-- IF topicrow.S_THANKS_TOPIC_REPUT_VIEW and topicrow.TOPIC_REPUT and not S_IS_BOT -->
<span style="display: block;">
	<!-- IF topicrow.S_THANKS_REPUT_GRAPHIC -->
	<span style="float: left; width: {topicrow.THANKS_REPUT_GRAPHIC_WIDTH}; height: {topicrow.THANKS_REPUT_HEIGHT}; background: URL({topicrow.THANKS_REPUT_IMAGE_BACK}); background-repeat: repeat-x;"><span style="display: block; height: {topicrow.THANKS_REPUT_HEIGHT}; width: {topicrow.TOPIC_REPUT}; background: URL({topicrow.THANKS_REPUT_IMAGE}); background-repeat: repeat-x;"></span></span>&nbsp;
	<!-- ENDIF -->
{L_REPUT}{L_COLON}&nbsp;{topicrow.TOPIC_REPUT}
</span>
<!-- ENDIF -->
