{% INCLUDE 'overall_header.html' %}
<h2 class="solo">{{ PAGE_TITLE }}</h2>
<br clear="all" />
	<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td align="{{ S_CONTENT_FLOW_END }}"><span class="pagination">{{ PAGE_NUMBER }}</span></td>
		</tr>
	</table>
{% if S_THANKS_POST_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_FORUM_RATING %}	
<h3 class="solo"><a href="{{ U_SEARCH_POST }}" class="forumtitle">{{ lang('RATING_TOP_POST') }}</a></h3>
<br />
	<table class="tablebg" cellspacing="1">
		<thead>
			<tr>
				<th class="rating">{{ lang('REPUT') }}</th>
				<th class="rating">{{ lang('RECEIVED') }}</th>
				<th class="name">{{ lang('AUTHOR') }}</th>
				<th class="topictitle">{{ lang('RATING_POST') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for toppostrow in loops.toppostrow %}
			<tr class="{% if toppostrow.S_ROW_COUNT is even %}row2{% else %}row1{% endif %}">
				<td><span style="display: block;">{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toppostrow.POST_REPUT }}
					{% if toppostrow.S_THANKS_REPUT_GRAPHIC %}
					<span style="display: block; width: {{ toppostrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; background: URL({{ toppostrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toppostrow.THANKS_REPUT_HEIGHT }}px; width: {{ toppostrow.POST_REPUT }}; background: URL({{ toppostrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
					{% endif %}
				</span></td>
				<td align="center" valign="middle" width="15%">{{ toppostrow.POST_THANKS }}</td>
				<td align="center" valign="middle" width="15%">{{ toppostrow.POST_AUTHOR }}</td>
				<td width="100%" class="postbody"><a href="{{ toppostrow.POST_ID }}">{{ toppostrow.MINI_POST_IMG }}{{ toppostrow.POST_DATE }}&nbsp;{{ toppostrow.POST_SUBJECT }}</a><br />{{ toppostrow.MESSAGE }}</td>
			</tr>
		{% endfor %}
			<tr>
				<td class="cat" colspan="4" align="center"></td>
			</tr>
		</tbody>
	</table>
<br />
{% endif %}
{% if S_THANKS_TOPIC_REPUT_VIEW and not S_FULL_POST_RATING and not S_FULL_FORUM_RATING %}	
<h3 class="solo"><a href="{{ U_SEARCH_TOPIC }}" class="forumtitle">{{ lang('RATING_TOP_TOPIC') }}</a></h3>
	<br />
	<table class="tablebg" cellspacing="1">
		<thead>
			<tr>
				<th class="rating">{{ lang('REPUT') }}</th>
				<th class="rating">{{ lang('RECEIVED') }}</th>
				<th class="name">{{ lang('AUTHOR') }}</th>
				<th class="topictitle">{{ lang('RATING_TOPIC') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for toptopicrow in loops.toptopicrow %}
			<tr class="{% if toptopicrow.S_ROW_COUNT is even %}row2{% else %}row1{% endif %}">
				<td><span style="display: block;">{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ toptopicrow.TOPIC_REPUT }}
					{% if toptopicrow.S_THANKS_REPUT_GRAPHIC %}
					<span style="display: block; width: {{ toptopicrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; background: URL({{ toptopicrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ toptopicrow.THANKS_REPUT_HEIGHT }}px; width: {{ toptopicrow.TOPIC_REPUT }}; background: URL({{ toptopicrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
					{% endif %}
				</span></td>
				<td align="center" valign="middle" width="15%">{{ toptopicrow.TOPIC_THANKS }}</td>
				<td align="center" valign="middle" width="15%">{{ toptopicrow.TOPIC_AUTHOR }}</td>
				<td width="100%" style="background-image: url({{ toptopicrow.TOPIC_FOLDER_IMG_SRC }}); background-repeat: no-repeat; background-position: 2px center; padding-left: 35px;"><a href="{{ toptopicrow.U_VIEW_TOPIC }}" class="topictitle">{{ toptopicrow.TOPIC_TITLE }}</a></td>
			</tr>
		{% endfor %}
			<tr>
				<td class="cat" colspan="4" align="center"></td>
			</tr>
		</tbody>
	</table>
<br />
{% endif %}
{% if S_THANKS_FORUM_REPUT_VIEW and not S_FULL_TOPIC_RATING and not S_FULL_POST_RATING %}
<h3 class="solo"><a href="{{ U_SEARCH_FORUM }}" class="forumtitle">{{ lang('RATING_TOP_FORUM') }}</a></h3>
	<br />
	<table class="tablebg" cellspacing="1">
		<thead>
			<tr>
				<th class="rating">{{ lang('REPUT') }}</th>
				<th class="rating">{{ lang('RECEIVED') }}</th>
				<th class="topictitle">{{ lang('RATING_FORUM') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for topforumrow in loops.topforumrow %}
			<tr class="{% if topforumrow.S_ROW_COUNT is even %}row2{% else %}row1{% endif %}">
				<td><span style="display: block;">{{ lang('REPUT') }}{{ lang('COLON') }}&nbsp;{{ topforumrow.FORUM_REPUT }}
					{% if topforumrow.S_THANKS_REPUT_GRAPHIC %}
					<span style="display: block; width: {{ topforumrow.THANKS_REPUT_GRAPHIC_WIDTH }}px; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; background: URL({{ topforumrow.THANKS_REPUT_IMAGE_BACK }}); background-repeat: repeat-x;"><span style="display: block; height: {{ topforumrow.THANKS_REPUT_HEIGHT }}px; width: {{ topforumrow.FORUM_REPUT }}; background: URL({{ topforumrow.THANKS_REPUT_IMAGE }}); background-repeat: repeat-x;">&nbsp;</span></span>
					{% endif %}
				</span></td>
				<td align="center" valign="middle" width="15%">{{ topforumrow.FORUM_THANKS }}</td>
				<td width="100%" style="background-image: url({{ topforumrow.FORUM_FOLDER_IMG_SRC }}); background-repeat: no-repeat; background-position: 2px center; padding-left: 45px;"><a href="{{ topforumrow.U_VIEW_FORUM }}" class="forumlink">{{ topforumrow.FORUM_NAME }}</a></td>
			</tr>
		{% endfor %}
			<tr>
				<td class="cat" colspan="3" align="center"></td>
			</tr>
		</tbody>
	</table>
{% endif %}
<table width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td class="pagination">{{ PAGE_NUMBER }}</td>
	<td align="{{ S_CONTENT_FLOW_END }}"><span class="pagination">{% INCLUDE 'pagination.html' %}</span></td>
</tr>
</table>
	{% INCLUDE 'jumpbox.html' %}
	{% INCLUDE 'overall_footer.html' %}
